

* {
    padding: 0;
    margin: 0;
}

body {
    background: conic-gradient(#e9d605, #f88e04);
    background-repeat: no-repeat;
    background-size: 100vmax 100vh;
    color: white;

}

div {
    max-width: 90%;
    min-width: 50%;
    max-height: 90%;
    min-height: 50%;

    padding: 2vmax;
    margin: 4vmax;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(1vmax);

    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-justify: center;
    text-align-last: center;

    box-shadow: -0.1vmax 2vmax 1.5vmax rgba(0, 0, 0, 0.125);
    border: 0.1vmax solid rgba(255, 255, 255, 0.1);
    border-radius: 2vmax;

    a {
        text-decoration: none;
        justify-content: center;
        align-content: center;
    };

    button {
        padding: 1vmax;
        margin: 2vmax;

        background-color: rgba(0, 0, 0, 0.2);
        
        color: white;

        border: 0.1vmax solid rgba(255, 255, 255, 0.2);
        box-shadow: -0.1vmax 2vmax 1.5vmax rgba(0, 0, 0, 0.125);
        border-radius: 1vmax;

            
        justify-content: center;
        align-content: center;

        transition: 0.6s ease-in-out all

    };

    button:hover{
        border: 0.125vmax solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 2max 0.5vmax rgba(255, 255, 255, 0.2);
    };

    transition: 0.6s ease-in-out all;
}

div:hover{
    box-shadow: 0 0 2vmax 1vmax rgba(255, 255, 255, 0.125);

}
